<h1>Notre équipe</h1>
<p>Voici notre équipe de choc : </p>
	<ul>
		<li>David aka Sharkichi</li>
		<li>Mam's aka Batmam's</li>
		<li>Roman aka Roro</li>
		<li>Thibauld aka Goonastar</li>
		<li>Mathilde aka Skitty</li>
		<li>Bayssangour aka Bayss</li>
		<li>Jiad aka Nono</li>
	</ul>